.navbar {
  background-color: rgb(54, 97, 146);
  padding: 10px;
  margin: 10px;
  width: 65%;
  height: 40px;
}

.navbarNav {
  list-style: none;
  display: flex;
}

.navItem {
  margin-right: 5px;
}

.navLink {
  color: #ffffff;
  background-color: rgb(112, 114, 114);
  padding: 2px;
  height: 25px;
  width: 25px;
}

.navLink:hover {
  background-color: #ffffff;
  color: rgb(112, 114, 114);
}

.spans {
  padding-right: 5px;
  color: #ffffff;
  font-size: 16px;
}
.selector{
  width:100px;
  background-color: rgb(112, 114, 114);
  color: #ffffff;
}
