 .modal-overlay-login {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: 9999;
  }
  
  .modal-content-login {
    background-color: #fff;
    border: 3px solid black;
    padding: 20px;
    border-radius: 200px;
    max-width: 350px;
    text-align: center;
    width: 60%;
    height: 490px;
    position: absolute;
  }
  .modal-content-login:hover {
    box-shadow: 0 0 10px 5px rgba(225, 255, 0, 0.5);
    border: 3px solid rgb(164, 28, 1);
    transition: all 0.1s ease-out;   
  }
  
  .modal-content-login h2 {
    margin-top: 0;
  }
  
  .modal-content-login button {
    margin-top: 20px;
  } 

  