.container {
  text-align: center;
  background-color: #f1f1f1;
  padding: 20px;
  display: block;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
}

.buttonHome {
  background-color: rgb(138, 138, 229);
  margin-top: 20px;
  font-size: 20px;
  font-weight: bold;
  position: relative;
  top: 10px;
  right: 30px;
  border-radius: 10px;
  padding: 15px;
}


.container h1 {
  font-size: 30px;
  margin-bottom: 20px;
}

.container h2 {
  font-size: 20px;
  margin-bottom: 10px;
}

.iconTech {
  display: inline-table;
  justify-content: center;
  margin-top: 20px;
  padding-bottom: 20px;
  border-radius: 8px;
  grid-column: 1;
}

.iconTech img {
  width: 200px;
  height: 100px;
  margin: 0 10px;
}

.content {
  display: flex;
  margin-top: 30px;
}

.cardImg img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  margin-bottom: 20px;
  border-radius: 8px;
  box-shadow: 2px 2px 4px rgba(1, 1, 1, 1);
}

.cardText img {
  width: 80px;
}

.cardText h2 {
  font-size: 20px;
  margin-bottom: 5px;
}

.cardText h3 {
  font-size: 16px;
  margin-bottom: 5px;
}

.links {
  margin-top: 20px;
}

.links img {
  width: 32px;
  height: 32px;
  margin-right: 10px;
}
.card {
  position: relative;
  height: 500px;
  width: 350px;
  display: inline-table;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background-color: #41c655;
  border-radius: 8px;
  box-shadow: 2px 2px 4px rgba(1, 1, 1, 1);
  margin-right: 2rem;
  margin-top: 2rem;
}

.cardContainer{
  width: 300px;
}