.container {
    width: 400px;
    margin: 0 auto;
  }
  
  .lista {
    list-style: none;
    padding: 0;
  }
  
  .usuario {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
  }
  
  .botonBan {
    background-color: red;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
  }