.image{
    height: 70px;
    width: 80px;
}
.body{
    border: solid  black;
    margin-top: 5px;
    overflow: auto;
    margin-right: 10px;
    height: 300px;
    width: 250px;
}

.boton{
    display: inline-block;
    padding: 8px 16px;
    background-color: black;
    color: white;
    border-radius: 10px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
}

.url{
    text-decoration: none;
}