.image{
    height: 70px;
    width: 80px;
}
.body{
    /* border: solid  black; */
    margin-top: 60px;
    overflow: auto;
    margin-right: 10px;
    height: 300px;
    width: 250px;
    margin-left: 10px;
    background-color: rgb(54, 97, 146);
    border-radius: 5px;
    border: 2px solid rgb(64, 99, 128);
    padding: 5px;
    color: #ffffff;
}

.boton{
    display: inline-block;
    padding: 8px 16px;
    background-color: black;
    color: white;
    border-radius: 10px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
}

.url{
    text-decoration: none;
}

.item{
    display: flex;
    justify-content: space-between;
}