:root {
  --primero-color: #2c3e50;
  --segundo-color: #3389da;
  --tercero-color: #0c0f2c;
  --fondo-color: #f5f5f5;
  --texto-color: #ffffff;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #141d22;
  padding: 10px;
}
.navLinks {
  display: flex;
  align-items: center;
}

.navLinks a {
  text-decoration: none;
  color: var(--texto-color);
  margin: 0 10px;
  font-weight: bold;
  transition: color 0.3s ease;
}

.navLinks a:hover {
  color: var(--segundo-color);
}

.nav .userImg {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
  margin-left: 20px;
  font-size: 24px;
  font-weight: bold;
}

.navButtons {
  display: flex;
  align-items: center;
}

.navButton {
  background-color: var(--segundo-color);
  color: var(--texto-color);
  border: none;
  padding: 8px 16px;
  margin-left: 10px;
  font-weight: bold;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.navButton:hover {
  background-color: var( --segundo-color);
}

.userIcon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background-color: white;
  border-radius: 50%;
  font-size: 35px;
  font-weight: bold;
  text-decoration: none;
  color: black;
}
.userLink {
  text-decoration: none;
  padding-left: 1.5rem;
}

.name{
  color: var(--texto-color);
}
.nameContainer{
  width: 250px;
  left: 0;
}