:root {
  --primero-color: #2c3e50;
  --segundo-color: #c0392b;
  --tercero-color: #555555;
  --fondo-color: #f5f5f5;
  --texto-color: #ffffff;
}

.modal-overlay {
  position: fixed;
  top: 15%;
  right: -4%; /* Ajusta este valor para posicionar el modal a la derecha */
  width: 20%; /* Ajusta este valor para cambiar el ancho del modal */
  height: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.modal-content {
  background-color: rgba(41, 41, 41, 0.705);
  border: 3px solid black;
  padding: 20px;
  border-radius: 10px;
  max-width: 300px;
  text-align: center;
  max-height: 600px;
  z-index: 9999;
  text-align: -webkit-left;
}

.modal-content:hover {
  box-shadow: 0 0 10px 5px rgba(82, 0, 0, 0.5);
  border: 3px rgb(164, 28, 1);
  transition: all 0.1s ease-out;
}

.modal-content h2 {
  margin-top: 0;
}

.modal-content button {
  margin-top: 20px;
}
.modal-content .link{
  color: rgb(84, 23, 155);
}

.modal-content .link:hover{
  color: rgb(155, 23, 23);
}
