.container {
  background-image: url("./backImage.jpg");
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: 100vh;
  width: auto;
  padding: 20px;
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
}
.h1,
.h4 {
  margin: 10px 0;
  font-size: 15px;
  color: white;
}


.h2 {
  margin: 10px 0;
  font-size: 35px;
  color: white;
}

.container button {
  margin-top: auto;
}

.link {
  font-weight: bold;
  transition: color 0.3s ease;
  font-size: 30px;
  color: white;
}

.userIcon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background-color: white;
  border-radius: 50%;
  font-size: 35px;
  font-weight: bold;
  text-decoration: none;
  color: black;
  margin-left: 50%;
}