.user{
    display: inline-flex;
}
.filtreusers{
    display: inline-flex;
}
.contVideogames{
    display: inline-flex;
}
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 20px;
  }
  
  .buttonContainer {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }
  
  .button {
    margin-right: 10px;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .button:hover {
    background-color: #0056b3;
  }
  
  .select {
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #fff;
  }
  
  .title {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .content {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  
  .listContainer {
    flex: 1;
    margin-right: 20px;
  }
  
  .videogamesContainer {
    flex: 1;
  }
  
  .link {
    margin-top: 20px;
    font-size: 16px;
    color: #007bff;
    text-decoration: none;
    cursor: pointer;
  }
  
  .link:hover {
    text-decoration: underline;
  }